# Виртуальные окружения
venv/
env/
myenv/
new_venv/
.env

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo

# Системные файлы Linux/macOS
.DS_Store
.bash_history
.bashrc
.profile
.ssh/
.config/
.cache/

# Папки пользователя
Desktop/
Documents/
Downloads/
Pictures/
Music/
Videos/

# Локальные логи и временные файлы
*.log
tmp/
temp/
